body {
  font-family: Verdana, sans-serif;
}

nav {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  margin-left: 5rem;
  text-decoration: none;
  font-weight: bold;
  color: #335576;
}
nav ul {
  list-style: none;
  display: flex;
  margin-right: 5rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
nav ul li a.active {
  border-bottom: 2px solid #DB7A4E;
}

.hero {
  display: flex;
  background-color: #FEFAF5;
  text-align: left;
  height: 20rem;
  padding: 5rem;
}
.hero h1, .hero p {
  color: #335576;
  margin-bottom: 2rem;
}
.hero h1 {
  font-size: 2.5rem;
}
.hero .get-started {
  background-color: #DB7A4E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3rem;
}

.recommendations {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.recommendations h2 {
  color: #335576;
  padding-left: 5rem;
  padding-bottom: none;
}
.recommendations .card-container {
  display: flex;
  justify-content: center;
  padding-left: 12rem;
  padding-right: 12rem;
  gap: 1rem;
}
.recommendations .destination-card {
  margin: auto;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.recommendations .destination-name {
  color: white;
  font-weight: bold;
}
.recommendations #destination-card-iceland {
  background-image: url("../assets/images/iceland.jpg");
  background-size: cover;
}
.recommendations #destination-card-greece {
  background-image: url("../assets/images/greece.jpg");
  background-size: cover;
}
.recommendations #destination-card-hawaii {
  background-image: url("../assets/images/hawaii.jpg");
  background-size: cover;
}

footer {
  height: 14rem;
  width: 100%;
  background-color: #FEFAF5;
  display: flex;
  align-items: center;
  padding: auto;
  justify-content: center;
  gap: 5rem;
  color: #335576;
}
footer .footer__subsection {
  color: #DB7A4E;
  font-size: 0.75rem;
}
footer .footer__subsection, footer .footer__text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 5rem;
  text-wrap: nowrap;
}
footer .footer__icon {
  height: 2rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.destination-main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding-top: 3rem;
}
.destination-main h1 {
  margin-left: 6rem;
  font-size: 5em;
  color: white;
}
.destination-main .card-container {
  display: flex;
  justify-content: center;
  padding-left: 12rem;
  padding-right: 12rem;
  gap: 1rem;
}
.destination-main .card-container .itinerary-card {
  margin: auto;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 20rem;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}
.destination-main .card-container .itinerary-card__heading {
  border-bottom: solid 0.15rem black;
  text-align: center;
}
.destination-main .card-container .itinerary-card__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: none;
  text-align: left;
}
.destination-main .card-container .itinerary-card__list__item {
  text-align: center;
  list-style-type: none;
  border-radius: 0.1rem;
  background-color: #FEFAF5;
  padding: 0.8em;
  margin: 0.4em;
}

#main-iceland {
  background-image: url("../assets/Images/iceland.jpg");
}

#main-greece {
  background-image: url("../assets/Images/greece.jpg");
}

#main-hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}/*# sourceMappingURL=styles.css.map */